extends layout

block content
  .wrapper
    section.section-gray.pricing-5
      form.form(method="POST")
        .container
          .row
            .col-md-6
              .row
                .col-md-12
                  .form-group
                    label.control-label Name
                    input.form-control(type="text" name="name" data-city data-typeahead)
                    .row
                .col-md-12
                  .form-group
                    label.control-label Image
                    input.form-control(type="text" name="image")
                .col-md-12
                  .form-group
                    label.control-label Description
                    textarea.form-control(rows=10 name='description')
                .col-md-12
                  .form-group
                      label.control-label Longitude
                      input.form-control(type="text" name="lng")
                .col-md-12
                  .form-group
                      label.control-label Latitude
                      input.form-control(type="text" name="lat")
            .col-md-6
              #map
          .row
            .col-md-3.push-left
              input.btn.btn-primary(type="submit" value="Save")
block scripts
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
  <script src="../../js/map.utils.js"></script>
