html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href="https://demos.creative-tim.com/paper-kit-2-pro/assets/css/paper-kit.min.css?v=2.3.0"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-primary
      a.navbar-brand FWT Admin
      div.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href="") Dashboard
          li.nav-item.active
            a.nav-link(href="/admin/cities") Cities

  block content
  block scripts